body {
	margin: 0;
}
h2 {
	margin-top: 0;
	font-size: 42px;
	font-weight: 300;
	line-height: 44px;
}

.top-container {
	background-color: white;
	height: 90px;
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
	position: fixed;
	width: 100%;
	z-index: 100;	
}
header.top {
	position: relative;
	height: 100%;
}
header.top nav,
header.top ul,
header.top img {
	display: inline-block;
	position: relative;
}
header.top nav,
header.top img {
	bottom: -10px;
}
header.top .upper-menu {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
}
header.top .search-field {
	position: absolute;
	right: 0;
	bottom: 10px;
}

header.top .container {
	position: relative;
}
header.top nav {
	position: relative;
	margin-left: 30px;
	width: 740px;
}
header.top .dropdown {
	position: absolute;
	display: none;
	width: 960px;
	height: 200px;
	left: -220px;
	top: 22px;
	background-color: white;
}
header.top .dropdown ul {
	margin-top: 30px;
	list-style-type: none;
	display: inline-block;
	padding-left: 15px;
	width: 33%;
}
header.top .dropdown .right:before {
	position: absolute;
	content: url('../img/line_nav.png');
	left: -30px;
}
header.top .dropdown .right {
	position: absolute;
	right: 20px;
	top: 2px;
}
header.top .dropdown img {
	width: 268px;
}
header.top .dropdown li {
	font-size: 12px;
}
header.top li.header {
	color: rgb(51, 153, 204);
	font-weight: bold;
	font-size: 14px;
	margin-top: 5px;
}

li:hover .dropdown {
	display: block;
}
header.top .navbar > li {
	background-color: white;
	padding: 5px 10px 0 10px;
	margin-left: 0;
}
header.top .navbar > li:hover {
	padding: 4px 9px 20px 9px;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	border-top: 1px solid #d5d5d5;
}
header.top .navbar > li:hover, 
header.top li:hover .dropdown {
	box-shadow: rgba(0,0,0,0.4) -5px 9px 8px 0px;
}
header.top .navbar {
	display: inline;
	font-size: 0;
}
header.top .navbar > li {
	display: inline-block;
	font-size: 16px;
}

header.top .navbar-checkbox {
	display: none;
	position: absolute;
	left: 10px;
	top: 50px;
	content: url('../img/hamburger-icon.png');
	background: linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%);
	border-radius: 3px;
	border: 1px #d9d9d9 solid;
	padding: 5px;
}
header.top .open-search-button {
	display: none;
	position: absolute;
	right: 5px;
	top: 47px;
	content: url('../img/searchBtnMobile.png');
	background: linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%);
	border-radius: 3px;
	border: 1px #d9d9d9 solid;
	padding: 5px;
}



header.top,
main section,
footer.bottom {
	max-width: 960px;
	margin: 0 auto;
}


.banner-container,
.services-container,
.news-container,
.stories-container {
	position: relative;
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

main {
	padding-top: 90px;
}
.banner-container {
	background: url('../img/slide-bg-complexity.jpg') no-repeat center 90px fixed;
	background-size: auto 639px;
	height: 639px;
	z-index: 5;
}
.banner {
	color: white;
	height: 100%;
}
.banner h2 {
	padding-top: 50px;
	text-align: left;
	max-width: 415px;
}
.banner .button {
	margin: 40px 0 50px 0;
}
.banner .bullet-links {
	position: absolute;
	top: 220px;
}



.services-container {
	background: url('../img/slide-bg-services.png') no-repeat center center;
	background-size: cover;
	height: 421px;
	z-index: 3;
}
.services {
	color: white;
	text-align: center;
}
.services h2 {
	text-align: center;
	padding: 50px;
	font-size: 42px;
	font-weight: 300;
}
.services a.button {
	display: inline-block;
	margin: 45px auto 20px auto;
}
.services .icon-list li:before {
	padding-top: auto;
	box-sizing: border-box;
	height: 63px;
}
.services .icon-list li {
	width: 160px;
	text-align: center;
	vertical-align: top;
}

.icon-list .biz-analytics:before {
	content: url('../img/solution_icon_biz-analitics.png');
}
.icon-list .biz-analytics:hover:before {
	content: url('../img/solution_icon_biz-analitics_hover.png');
}
.icon-list .cx:before {
	content: url('../img/solution_icon_diti-cx.png');
}
.icon-list .cx:hover:before {
	content: url('../img/solution_icon_diti-cx_hover.png');
}
.icon-list .smart-monetization:before {
	content: url('../img/solution_icon_smart-money.png');
}
.icon-list .smart-monetization:hover:before {
	content: url('../img/solution_icon_smart-money_hover.png');
}
.icon-list .optimization:before {
	content: url('../img/solution_icon_optimize-efficnt.png');
}
.icon-list .optimization:hover:before {
	content: url('../img/solution_icon_optimize-efficnt_hover.png');
}
.icon-list .choice-control:before {
	content: url('../img/solution_icon_personal.png');
}
.icon-list .choice-control:hover:before {
	content: url('../img/solution_icon_personal_hover.png');
}
.icon-list .biz-transformation:before {
	content: url('../img/solution_icon_biz-transform.png');
}
.icon-list .biz-transformation:hover:before {
	content: url('../img/solution_icon_biz-transform_hover.png');
}



.news-container {
	background: url('../img/slide-bg-news.png') no-repeat center center fixed;
	background-size: cover;
	height: 454px;
	box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
	z-index: 4;
}
.news {
	color: white;
}
.news h2 {
	padding-top: 60px;
	text-align: center;
}
.news .post-list {
	margin-top: 110px;
}



.stories-container {
	background-color:  #f2f1f1;
	height: 550px;
	z-index: 2;
}
.stories h2 {
	padding-top: 70px;
	text-align: center;
}
.stories ul {
	text-align: center;
	list-style-type: none;
	padding-left: 0;
	font-size: 0;
}
.stories li {
	display: inline-block;
	vertical-align: top;
}
.stories li li.company-block + li.company-block {
	margin-left: 10px;	
}
.stories .left li + li.company-block,
.stories .right li + li.company-block {
	margin-top: 10px;	
}
.stories li ul {
	margin-right: 10px;
	margin-bottom: 10px;
}
.stories .left, .stories .middle {
	width: 350px;
}
.stories .right {
	width: 230px;
}
.stories .middle .quote-block {
	margin-top: 10px;
}

.stories .button {
	margin: 25px auto 0 auto;
}


.footer-container {
	height: 320px;
	background-image: url('../img/slide-bg-footer.png');
}
footer.bottom {
	color: white;
	position: relative;
	height: 320px;
	z-index: 1;
}
footer.bottom nav ul {
	margin-top: 0;
	list-style-type: none;
	padding-left: 0;
}
footer.bottom nav > ul:after {
	content: "";
	clear: both;
	display: block;
}
footer.bottom nav > ul {
	padding-top: 20px;
	margin-bottom: 0;
}
footer.bottom nav > ul > li {
	float: left;
	width: 260px;
	text-transform: uppercase;
	font-size: 16px;
}
footer.bottom nav ul ul li {
	clear: left;
	text-transform: none;
	font-size: 14px;
}
footer.bottom nav ul ul {
	margin-top: 15px;
}
footer.bottom nav a {
	text-decoration: none;
	color: white;
}

.media {
	position: absolute;
	right: 0;
	width: 263px;
	height: 320px;
	background-color: rgba(225, 225, 225, 0.28);
}
.media h3 {
	color: #4ea7d3;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.media .blog {
	height: 136px;
	border-bottom: 1px #6a6a6a solid;
	width: 230px;
	margin: 0 auto;
	padding-bottom: 10px;
}
.media .blog h3 {
	margin-bottom: 0;
}
.media .post {
	position: relative;
	left: -10px;
}
.media .post .text {
	width: 240px;
}
.media .subscribe {
	margin: auto;
	width: 223px;
}
.media input {
	width: 150px;
	height: 22px;
	line-height: 0;
	display: inline-block;
	z-index: 2;
}
.media button {
	border: none;
	height: 28px;
	margin-left: -6px;
	z-index: 4;
}
.media footer {
	position: absolute;
	bottom: 5px;
	left: 17px;
}
.media footer ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
.media footer li {
	display: inline-block;	
}


.copyright {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #969696;
	font-size: 14px;
}
.copyright p {
	margin-top: 0;
}
.copyright a {
	text-decoration: none;
	color: inherit
}


footer.bottom .small {
	display: none;
}
footer.bottom .small ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer.bottom .small li {
	display: block;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px black solid;
}
footer.bottom .small li div {
	display: inline-block;
	top: 5px;
	line-height: 0;
}

@media all and (max-width: 959px) {
	header.top {
		text-align: center;
	}
	header.top nav {
		margin-left: 0;
	}
	header.top > img {
		text-align: center;
	}
	header.top .navbar {
		display: none;
		width: 100%;
		top: 13px;
		padding-left: 0;
	}
	header.top .navbar-checkbox:focus + nav .navbar, nav:hover .navbar {
		display: block;
	}
	header.top .navbar, header.top .search-field .input {		
		box-shadow: rgba(0,0,0,0.4) -5px 9px 8px 0px;
	}
	header.top .navbar:first-child {
		border-top: 1px #cccccc solid;
	}
	header.top .navbar li {
		box-sizing: border-box;
		padding: 1px 0 2px 0;
		background-color: #eeeeee;
		border-bottom: 1px #cccccc solid;
		width: 100%;
		height: 40px;
		line-height: 34px;
		display: block;
	}
	header.top .navbar li a {
		vertical-align: middle;
	}
	header.top li:hover .dropdown {
		display: none;
	}
	header.top .navbar > li:hover, 
	header.top li:hover .dropdown {
		box-shadow: none;
	}
	header.top .navbar > li:hover {
		padding: 0;
		border-top: 1px #cccccc solid;
		border-bottom: 2px #cccccc solid;
	}
	header.top .navbar-checkbox {
		display: block;
	}
	header.top .upper-menu {
		display: none;
	}
	header.top .search-field {
		position: static;
		width: 100%;
		border: none;
	}
	header.top .search-field .submit {
		display: none;
	}
	header.top .search-field .input {
		display: none;
		width: 90%;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 100px;
		border-radius: 5px;
		border: 1px solid #D1D1D1;
		padding: 0 5px;
	}
	header.top .open-search-button {
		display: block;
	}
	header.top .open-search-button:focus + .input, header.top .search-field .input:focus, header.top .search-field .input:hover {
		display: block;
	}


	header.top, header.top nav, .banner-container, .services-container, .news-container, .stories-container, .footer-container, footer.bottom, .media {
		height: auto;
		width: 100%;
	}
	.banner-container {
		background-size: auto 100%;
	}

	
	.banner-container .info-boxes li {
		box-sizing: border-box;
		width: 100%;
		margin-right: 0;
	}
	.banner-container .info-boxes li:after {
		position: absolute;
		right: 10px;
		top: 45%;
		vertical-align: middle;
		font-size: 70px;
		content: '›';
		line-height: 0;
	}
	.banner-container .bullet-links li {
		width: 20px;
		height: 40px;		
	}
	.banner-container .bullet-links a {
		font-size: 16px;
		color: black;
		text-decoration: none;
		text-align: center;
		vertical-align: middle;
		width: auto;
		height: auto;
	}
	.banner-container .button {
		margin-bottom: 0;
	}
	.banner-container article {
		position: relative;
		padding-bottom: 30px;
	}
	.banner-container article:after {
		background: url('../img/slide-bg-services.png') no-repeat center center;
		content: "";
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
	}

	.banner-container .bullet-links {
		position: static;
	}


	.services .icon-list li {
		width: 33%;
	}

	.news .post {
		width: 100%;
	}
	.news dt {
		position: static;
		display: block;
		clear: left;
	}
	.news dd {
		display: block;
		clear: left;
		padding-bottom: 50px;
	}
	.news dl {
		margin-bottom: 0;
	}

	.stories .right {
		display: none;
	}
	.stories {
		padding-bottom: 20px;
	}

	footer.bottom .wide {
		display: none;
	}
	footer.bottom .small {
		display: block;
	}
	footer.bottom .media {
		position: static;
		width: 100%;
	}
	footer.bottom .blog h3 {
		margin-top: 0;
		padding-top: 10px;
	}
}