body {
	font-family: Open Sans;
}

.info-boxes li {
	list-style-type: none;
	border-radius: 6px;
	box-shadow: 0px 1px 4px 0px #a2a2a2;
	width: 290px;
	height: 174px;

	color:  #ffffff;
	font-size: 24px; /* Approximation due to font substitution */
	font-weight: 200;
	text-align: left;

	position: relative;
}

.info-boxes p {
	padding: 15px 0 0 13px;
	line-height: normal;
}

.info-boxes a {
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	text-align: left;

	position: absolute;
	bottom: 15px;
	padding-left: 14px;
}

.info-boxes a:before {
	vertical-align: -50%;
	padding-right: 8px;
}

#bullshit-info-box {
	background-color: rgba(255, 51, 153, 0.9);
}

#bullshit-info-box:hover {
	background-color: rgba(255, 51, 153, 1);
}

#bullshit-info-box a:before {
	content: url("../img/link_icon.png");	
}

.icon-list {
	padding-left: 0;
	font-size: 0; /* remove spacing between list items */
}
.icon-list li {
	list-style-type: none;
	display: inline-block;

	font-size: 16px;
	padding-right: 5px;
}
.icon-list li + li {
	padding-left: 5px;
}
.icon-list li:before {
	display: block;
	text-align: center;	
}
#data-monetization:before {
	content: url('../img/solution_icon_smart-money.png');
}
#data-monetization:hover:before {
	content: url('../img/solution_icon_smart-money_hover.png');
}


.button {
	color: #FFFFFF;
	font-size: 14px;
	display: inline-block;
	vertical-align: bottom;
	text-decoration: none;

	padding: 5px 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	background: -moz-linear-gradient(top, #2f95c8 0%, #2c96ca 24%, #1188c4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f95c8), color-stop(24%,#2c96ca), color-stop(100%,#1188c4));
	background: -webkit-linear-gradient(top, #2f95c8 0%,#2c96ca 24%,#1188c4 100%);
	background: -o-linear-gradient(top, #2f95c8 0%,#2c96ca 24%,#1188c4 100%);
	background: -ms-linear-gradient(top, #2f95c8 0%,#2c96ca 24%,#1188c4 100%);
	background: linear-gradient(to bottom, #2f95c8 0%,#2c96ca 24%,#1188c4 100%);
}

.navigationButton {
	width: 188px;
	height: 23px;
	line-height: 23px;
	position: relative;
}

.navigationButton:after {	
	content: '\25b6';
	position: absolute;
	right: 12px;
}

.post-list {
	padding-left: 0;
}
.post-list li {
	list-style-type: none;
	display: inline-block;
	margin-right: 29px;
}
.post-list li:before {
	display: block;
	content: attr(header);
	font-size: 34px;
	margin-bottom: 5px;
}

.post {
	display: block;
	background-color: rgba(255,255,255,0.4);

	width: 296px;
	height: 119px;
}

.post .date {
	display: block;

	border-radius: 2px;
	background-color:  #3399cc;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
	width: 69px;
	height: 99px;

	color: white;
	text-align: center;

	float: left;

	margin: 11px 12px 11px 10px;
}

.post .day {
	display: block;
	height: 65px;
	width: 69px;
	font-size: 48px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

.post .month {
	font-size: 18px;
	height: 33px;
	line-height: 33px;
}

.post .text {
	display: block;

	color: black;
	font-size: 15px;

	padding-top: 10px;
	padding-right: 5px;
}

.post-list a {
	color: white;
	clear: left;
	display: block;
	text-decoration: none;
	text-align: left;
}
.post-list a:before {	
	display: inline-block;
	vertical-align: middle;
	padding-right: 8px;
}

.news-link:before {
	content: url('../img/post-list_news.png');
}
.news-link:hover:before {
	content: url('../img/post-list_news_hover.png');
}
.event-link:before {
	content: url('../img/post-list_event.png');
}
.event-link:hover:before {
	content: url('../img/post-list_event_hover.png');
}