body {
	font-family: Open Sans;
}

.info-boxes {
	padding-left: 0;
	font-size: 0;
}
.info-boxes li {
	list-style-type: none;
	display: inline-block;
	border-radius: 6px;
	box-shadow: 0px 1px 4px 0px #a2a2a2;
	width: 280px;
	height: 174px;
	padding-right: 10px;

	color:  #ffffff;
	font-size: 23px; /* Approximation due to font substitution */
	font-weight: 200;
	text-align: left;

	margin-right: 15px;

	position: relative;
}
.info-boxes li:nth-child(1) {
	background-color: rgba(255, 51, 153, 0.9);
}
.info-boxes li:nth-child(1):hover {
	background-color: rgba(255, 51, 153, 1);
}
.info-boxes li:nth-child(2) {
	background-color: rgba(90, 190, 40, 0.9);
}
.info-boxes li:nth-child(2):hover {
	background-color: rgba(90, 190, 40, 1);
}
.info-boxes li:nth-child(3) {
	background-color: rgba(255, 102, 0, 0.9);
}
.info-boxes li:nth-child(3):hover {
	background-color: rgba(255, 102, 0, 1);
}

.info-boxes p {
	padding: 10px 0 0 13px;
	margin: 0;
	line-height: normal;
}

.info-boxes a {
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	text-align: left;

	position: absolute;
	bottom: 15px;
	padding-left: 14px;
}

.info-boxes a:before {
	vertical-align: -50%;
	padding-right: 8px;
}

.link-icon:before {
	content: url("../img/link_icon.png");
}
.document-icon:before {
	content: url("../img/document_icon.png");
}
.play-icon:before {
	content: url('../img/play_icon.png');
}

.icon-list {
	padding-left: 0;
	font-size: 0; /* remove spacing between list items */
}
.icon-list li {
	list-style-type: none;
	display: inline-block;

	font-size: 16px;
	padding-right: 0px;
}
.icon-list li + li {
	padding-left: 0px;
}
.icon-list li:before {
	display: block;
	text-align: center;
}
.data-monetization:before {
	content: url('../img/solution_icon_smart-money.png');
}
.data-monetization:hover:before {
	content: url('../img/solution_icon_smart-money_hover.png');
}


.button {
	color: #FFFFFF;
	font-size: 14px;
	display: inline-block;
	vertical-align: bottom;
	text-decoration: none;

	padding: 5px 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);

	background: linear-gradient(to bottom, #2f95c8 0%,#2c96ca 24%,#1188c4 100%);
}
.button:hover {	
	background: linear-gradient(to bottom, #40a2d5 0%, #289ad2 100%);
}
.button:active {	
	background: linear-gradient(to bottom, #1286c1 0%, #2e97cb 100%);
}

.navigation-button {
	display: block;
	width: 188px;
	height: 23px;
	line-height: 23px;
	position: relative;
}

.navigation-button:after {	
	content: '\25b6';
	position: absolute;
	right: 12px;
}

.post-list {
	padding-left: 0;
	position: relative;
}
.post-list dt {
	font-size: 38px;
	font-weight: 300;
	display: inline;
	position: absolute;
	top: -60px;
}
.post-list li,
.post-list dd {
	list-style-type: none;
	display: inline-block;
	margin-left: 0px;
	margin-right: 15px;
}
.post-list li:before {
	display: block;
	content: attr(header);
	font-size: 34px;
	margin-bottom: 5px;
}

.post {
	display: block;
	width: 263px;
}
.styled-post {
	border-radius: 2px;
	background-color: rgba(255,255,255,0.4);
	transition: background-color 0.25s ease-out;	

	width: 296px;
	height: 119px;
}
.styled-post:hover {
	background-color: rgba(255,255,255,1);
}

.post .date {
	display: block;

	width: 69px;
	height: 99px;

	color: white;
	text-align: center;
	font-weight: bold;

	float: left;

	margin: 11px 12px 11px 10px;
}
.styled-post .date {
	border-radius: 2px;
	background-color:  #3399cc;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);	
}

.post .day {
	display: block;
	width: 69px;
	font-size: 48px;
}
.styled-post .day {
	border-bottom-style: dotted;
	border-bottom-width: 1px;	
	height: 65px;
}

.post .month {
	font-size: 22px;
	position: relative;
	top: -10px;
}
.styled-post .month {
	height: 33px;
	line-height: 33px;
	position: static;
}

.post .text {
	display: block;
	position: relative;
	top: 15px;

	font-size: 15px;

	padding-top: 10px;
	margin-right: 10px;
}
.styled-post .text {
	top: 0;
	color: black;
}

.post-list a {
	color: white;
	float: left;
	clear: left;
	display: inline-block;
	text-decoration: none;
	text-align: left;
	margin-left: 5px;
}
.post-list a:before {	
	display: inline-block;
	vertical-align: middle;
	padding-right: 8px;
}

.news-link:before {
	content: url('../img/post-list_news.png');
}
.news-link:hover:before {
	content: url('../img/post-list_news_hover.png');
}
.event-link:before {
	content: url('../img/post-list_event.png');
}
.event-link:hover:before {
	content: url('../img/post-list_event_hover.png');
}

.hover-block {
	position: relative;
}
.hover-block .offhover,
.hover-block .onhover {
	display: block;
	-webkit-transition: opacity 0.25s ease-out;
	-moz-transition: opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out;
}
.hover-block .onhover {	
	position: absolute;
	top: 0;
}
.hover-block .onhover,
.hover-block:hover .offhover {
	opacity: 0;
}
.hover-block .offhover,
.hover-block:hover .onhover {
	opacity: 1;
}
.company-block {
	list-style-type: none;
	display: inline-block;
	border-radius: 2px;
	background-color: white;
	width: 110px;
	height: 97px;
	line-height: 97px;
	position: relative;
}
.company-block img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transition: -webkit-filter 0.75s ease-out;
	-moz-transition: -moz-filter 0.75s ease-out;
}
.company-block img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
}
.company-block:hover img {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
}


.quote-block {
	list-style-type: none;
	display: inline-block;
	border-radius: 2px;
	background-color: white;

	width: 230px;
	height: 210px;
	color: #565656;
	padding: 0;
}
.quote-block .onhover {
	width: 100%;
	height: 100%;
	background-color: #3aa6db;
}
.quote-block blockquote:before {
	padding: 0;
	margin-right: 10px;
}
.quote-block blockquote:after {
	margin-left: 6px;
}
.quote-block blockquote:before,
.quote-block blockquote:after {
	content: url('../img/quote-grey2.png');
}
.quote-block blockquote {
	font-size: 19.5px;
	font-style: normal;
	margin: 0;
}

.quote-block .up {
	padding-top: 17px;
	margin-left: 10px;
	margin-right: 3px;
	height: 131px;

	border-bottom: 1px solid #dddddd;	
}

.quote-block .down {
	font-style: normal;
	font-size: 14px;

	margin: 10px;
}
.quote-block .down [itemprop='name'] {
	display: block;
	color: #3aa6db;
	font-size: 17px;
	font-weight: 300;
	font-variant: small-caps;
}

.quote-block .onhover {
	color: white;
	border-radius: 2px;
}
.quote-block .onhover blockquote {	
	width: 80%;
	margin: 0 auto;
	padding-top: 10px;
}

.quote-block.image {
	width: 350px;
	height: 210px;
}
.quote-block .up img {
	float: left;
	padding-right: 15px;
}
.quote-block .down img {
	top: -15px;
	position: relative;
	float: right;
	margin-right: 30px;
}



.menu li {
	list-style-type: none;
	display: inline;
}
.menu a {
	text-decoration: none;
	color: black;	
}
.menu li:before {
	content: url('../img/divider.png');
	padding-right: 15px;
	padding-left: 10px;
	position: relative;
	vertical-align: -5px;
}
.menu li:first-child:before {
	content: none;
}


.search-field {
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	width: 180px;
}
.search-field .input {
	margin-left: 5px;
	padding: 0;
	width: 149px;
	height: 25px;
	border: none;
}
.search-field .input:focus {
	outline: none;
}
.search-field .submit {
	background: url('../img/searchBtn.png') no-repeat scroll center center;
	float: right;
	border: none;
	border-left: 1px solid #d2d2d2;
	width: 26px;
	height: 25px;
}